img.logo-navbar{
    height: 40px;
    margin-right: 20px;
    filter: invert(100%);
    -webkit-filter: invert(100%)
}

.titulo-navbar{
    font-size: 1.25em;
}


footer{
    line-height: 3em;
}

.center {
    margin-left: auto;
    margin-right: auto;
}